body,
html {
    margin: 0;
    padding: 0;
    border: none;
}

/* cancel autofill formatting in chrome */
/* https://stackoverflow.com/questions/29580704/change-input-background-to-transparent-on-autocomplete-form */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}